

body
{
    background-color:#2f3035 ;
}
h1{
    color: cyan;
    text-align: center;
     font-size: 50px;
    padding-top: 250px;
}
p
{
    color: white;
    text-align: center;
    font-size: 20px;

}