*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

body
{
    background-color:#2f3035 ;
}
img
{
  
    padding: 50px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
h2
{
    color: cyan;
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
}



